.demo-tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 50px auto;
}

.demo-track {
    border: 5px solid #111;
    padding: 0 15px 0 0;
    border-radius: 5px;
    transition: .5s;
}

.demo-track:hover {
    background: #222;
    border: 5px solid #222;
}

.demo-track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo-track-download {
    text-align: center;
}

.player-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-start;
    background: #111;
    border-top: 1px solid #333;
    height: 90px;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;  
}

.player-container:before {
    content: "";
    display: block;
    position: absolute;
    width: 500px;
    height: 1px;
    background: #00cdcd;
    margin: 0 0;
}

.player {
    display: grid;
    grid-template-columns: 100px 1000px;
    grid-template-rows: 1fr;
    justify-content: left;
    margin: auto;
    width: 95%;
}

.player img {
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 5px;
}

.player-track-info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

.player-track-info span:first-child {
    width: 100%;
    font-size: 1.125rem;
    line-height: 0.9;
    font-weight: 300;
}

.player-track-info span:last-child {
    width: 100%;
    font-size: .75rem;
    font-weight: 300;
}

@media (min-width: 1001px) {
    .demo-track {
        display: grid;
        grid-template-columns: 8% 40% 27% 5% 10% 10%;
        grid-template-rows: 1fr;
        align-items: center;
        height: 85px;
        width: 100%;
    }
    
    .demo-track-img {
        max-height: 100%;
        max-width: 200px;
        border-radius: 5px;
    }

    .demo-track-name {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .demo-track-artist {
        font-size: .75rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 10px 0 0 0;
    }
    
    .demo-track-album {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
    }
    
    .demo-track-year, .demo-track-length {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
    }

    .demo-track-download-mobile {
        display: none;
    }
} @media (max-width: 1000px) {

    .demo-track {
        display: grid;
        grid-template-columns: calc(100% - 40px) 35px;
        grid-template-rows: 1fr;
        align-items: center;
        height: 85px;
        width: 100%;
    }

    .demo-track {
        border: 5px solid #111;
        padding: 0 5px;
        border-radius: 5px;
        transition: .5s;
    }

    .demo-track-name {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .demo-track-artist {
        font-size: .75rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 10px 0 0 0;
    }

    .demo-track-download-mobile {
        border-radius: 0.25rem;
        display: flex; 
        justify-content: center;
        align-items: center;
        transition: .25s; 
    }

    .demo-track-download-mobile:hover {
        background-color: #111;
    }

    .demo-track-download-mobile img {
        padding: 5px;
        width: 25px;
        height: 25px;
    }

    .demo-track-img, .demo-track-album, .demo-track-year, .demo-track-length, .demo-track-download {
        display: none;
    }
}